services:
  gpaw:
    image: 'marcindulak/gpaw-openmpi:latest'
    volumes:
      - './myjob:/mnt:rw'
    command:
      - /bin/bash
      - -c
      - |
        . /etc/profile.d/modules.sh
        module use /usr/share/modulefiles
        module load mpi/openmpi
        cd /mnt
        export PYTHONPATH=$$MPI_PYTHON3_SITEARCH
        export OMP_NUM_THREADS=1
        mpiexec --allow-run-as-root -np 2 python3 h2.py && grep "Free energy" h2.txt
